<h1>Events by <%= @user.username %> </h1>

<ul>
<% @events.each do |event| %>
  <li><%= event.name %></li>
<% end %>
</ul>

<h2>Events you are attending</h2>

<ul>
<% current_user.attended_events.each do |event| %>
  <li><%= event.name %></li>
<% end %>
</ul>