<h1>Events</h1>

<h2>Past Events</h2>

<ul>
<% @events.past.each do |event| %>
<li><%= event.name %> / <%= event.date %> </li>
<% end %>
</ul>

<h2>Upcoming Events</h2>

<ul>
<% @events.upcoming.each do |event| %>
<li><%= event.name %> / <%= event.date %> </li>
<% end %>
</ul>