<h1>Events</h1>

<h2>Past Events</h2>

<ul>
<%= render partial: 'event', collection: @past_events %>

</ul>

<h2>Upcoming Events</h2>

<ul>
<%= render partial: 'event', collection: @upcoming_events %>
</ul>